section.hero {
  border-bottom: none;

  img {
    margin-bottom: 2em;
  }

  img.mobile {
    display: block;
    margin-top: 2em;
  }

  img.desktop {
    display: none;
  }

  .content {
    text-align: center;

    svg {
      height: 75px;
    }
  }

  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2.5em;
    margin-top: -.45em;
  }

  p {
    margin-top: -1em;
    text-align: center;
  }

  p.verse {
    font-size: 1.2em;
  }

  p.verse-text {
    margin-top: -4em;
    font-weight: bold;
    font-size: 1.1em;
  }

  @media (min-width: $desktop) {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 2em;
    margin-bottom: 7em;
    height: 600px;
    align-content: center;

    img.mobile {
      display: none;
    }

    img.desktop {
      display: block;
    }

    .content {
      padding: 4em;
      background-color: #FDF4EC;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 5 / 9;

      svg {
        height: 100px;
      }

      p.verse {
        font-size: 1em;
      }

      p.verse-text {
        margin-bottom: 0;
        font-size: 1em;
      }
    }
  }
}