body {
  background-color: #FDF4EC;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 2em;

  .bottom-border {
    margin-top: .75em;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    svg {
      padding-top: 4em;
      width: 200px;
      height: 200px;
    }

    .details-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .small-details {
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }

  p {
    padding: 2em;
    max-width: 500px;
    text-align: center;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop) {
  body {
    padding: 0 2em;
  }

  section {
    margin-bottom: 7em;

    .details {
      flex-direction: row;

      svg {
        width: 400px;
        height: 400px;
      }

      .small-details {
        svg {
          width: 200px;
          height: 200px;
        }
      }

      .details-content {
        flex-direction: row;
      }
    }
  }
}