body {
  background-color: #FDF4EC;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 2em;

  .bottom-border {
    margin-top: .75em;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;

    &.mobile-reverse {
      flex-direction: column-reverse;
    }

    svg.illustration {
      padding-top: 4em;
      width: 200px;
      height: 200px;
    }

    .details-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }

  p {
    padding: 2em;
    max-width: 500px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3em;
  
  h1 {
    font-size: 4.5em;
  }
}

footer {
  background-color: #535251;
  color: #FDF4EC;
  padding: 2em;

  ul > li {
    padding-bottom: .5em;
  }

  div {
    padding-bottom: 2em;
  }

  img {
    border-radius: 5%;
  }

  a {
    color: #FDF4EC;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }

  .icon {
    width: 10px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  p.cta {
    font-size: 1.25em;
    margin: 2em 0;

    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

@media (min-width: $desktop) {
  .main-content {
    padding: 0 2em;
  }

  section {
    margin-bottom: 7em;

    .details:first-child {
      padding-top: 0;
    }

    .details {
      padding-top: 7em;
      flex-direction: row;

      &.mobile-reverse {
        flex-direction: row;
      }

      svg.illustration {
        padding-top: 0;
        width: 400px;
        height: 400px;
      }

      &.small-details {
        max-width: 1400px;

        svg.illustration {
          width: 300px;
          height: 300px;
        }
      }
    }
  }

  header {
    h1 {
      font-size: 6em;
    }
  }
}