---
layout: page.njk
title: Staff
---

<ul class="staff-grid">
  <li>
    <div class="staff">
      <img src="/images/amanda.jpg" alt="Amanda">
      <p>Amanda</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/caroline.jpg" alt="Caroline">
      <p>Caroline</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/carrie.jpg" alt="Carrie">
      <p>Carrie</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/carrieb.jpg" alt="Carrie">
      <p>Carrie</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/casey.jpg" alt="Casey">
      <p>Casey</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/dakota.jpg" alt="Dakota">
      <p>Dakota</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/emily.jpg" alt="Emily">
      <p>Emily</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/kayla.jpg" alt="Kayla">
      <p>Kayla</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/leah.jpg" alt="Leah">
      <p>Leah</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/melanie.jpg" alt="Melanie">
      <p>Melanie</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/rebekah.jpg" alt="Rebekah">
      <p>Rebekah</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/regan.jpg" alt="Regan">
      <p>Regan</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/rickiel.jpg" alt="Rickiel">
      <p>Rickiel</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/sandra.jpg" alt="Sandra">
      <p>Sandra</p>
    </div>
  </li>
  <li>
    <div class="staff">
      <img src="/images/trish.jpg" alt="Trish">
      <p>Trish</p>
    </div>
  </li>
</ul>